RewriteBase /
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

#Carga tu propia página de error 404

ErrorDocument 404 /404.html


#Bloquear archivos

Options All -Indexes

#Proteger el .htaccess

<files .htaccess>

order allow,deny

deny from all

</files>